* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Excon", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100%;
}
body header {
  padding-top: 5vh;
  background-color: rgb(24, 50, 56);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
body header img {
  top: 5px;
  left: 0px;
  position: absolute;
  height: 80px;
}
body header .cont_he {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
}
body header .cont_he h1 {
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body header .cont_he ul {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 40vw;
}
body header .cont_he ul li {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  list-style: none;
}
body header .cont_he ul li:hover {
  background-color: rgb(3, 128, 170);
}
body header .cont_vic {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
}
body header .cont_vic h3 {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(18, 204, 195);
}
body main {
  padding-top: 20vh;
  padding-bottom: 100px;
  background-color: rgb(206, 205, 205);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
body main h4 {
  font-size: 1.5em;
  color: rgb(233, 231, 231);
}
body main img {
  height: 50%;
  width: 50%;
  border-radius: 20px;
}
body main a {
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(6, 147, 192);
  margin-top: 10px;
  width: 260px;
  height: 70px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 1px 15px 10px rgb(136, 170, 182);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
body main a:hover {
  transform: scale(1.1);
}
body main .sec_vacunas {
  padding-top: 50px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 0, 0, 0);
  display: none;
}
body main .sec_vacunas.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body main .sec_vacunas h3 {
  font-size: 2em;
}
body main .sec_vacunas .cont_info {
  transition: all 0.2s;
  cursor: pointer;
  padding-top: 10px;
  background-color: rgba(105, 169, 201, 0.534);
  border-radius: 30px;
  margin: 10px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .sec_vacunas .cont_info:hover {
  transform: scale(1.1);
  background-color: rgba(84, 135, 161, 0.534);
}
body main .sec_vacunas .cont_info .articulo {
  color: white;
  font-weight: 500;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
body main .sec_info {
  padding-top: 50px;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 0, 0, 0);
  display: none;
}
body main .sec_info.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body main .sec_info h3 {
  font-size: 2em;
}
body main .sec_info .cont_info {
  transition: all 0.2s;
  cursor: pointer;
  padding-top: 10px;
  background-color: rgba(38, 63, 172, 0.534);
  border-radius: 30px;
  margin: 10px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .sec_info .cont_info:hover {
  background-color: rgba(30, 50, 136, 0.534);
  transform: scale(1.1);
}
body main .sec_info .cont_info .articulo {
  color: white;
  font-weight: 500;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
body main .sec_img {
  border-radius: 20px;
  margin-top: 100px;
  width: 60%;
  height: 30%;
  display: none;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(38, 63, 172, 0.356);
}
body main .sec_img.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .sec_img h3 {
  font-size: 2em;
  color: white;
}
body main .sec_img img {
  height: 80%;
  width: 80%;
}
body main .sec_horarios {
  padding-top: 50px;
  width: 100%;
  height: 50%;
  display: none;
}
body main .sec_horarios.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body main .sec_horarios h3 {
  font-size: 2em;
}
body main .sec_horarios .cont_info {
  padding-top: 10px;
  border-radius: 30px;
  margin: 10px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .sec_horarios .cont_info .articulo {
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgba(126, 105, 201, 0.644);
  color: white;
  font-weight: 500;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  width: 80%;
}
body main .sec_horarios .cont_info .articulo:hover {
  background-color: rgba(99, 82, 160, 0.644);
  transform: scale(1.1);
}

footer {
  position: fixed;
  height: 4%;
  width: 95%;
  top: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .back {
  border-radius: 10px;
  margin-left: 5%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgb(103, 3, 161), rgb(175, 192, 25), rgb(9, 88, 15), rgb(36, 168, 36), rgb(38, 102, 175));
}/*# sourceMappingURL=estilo.css.map */