* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    
    header {
        padding-top: 5vh;
        background-color: rgb(8, 147, 194);
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;

        img {
            top: 5px;
            left: 0px;
            position: absolute;
            height: 80px;
            cursor: pointer;
        }

        .cont_he {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50%;

            h1 {
                padding-top: 50px;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
            }

            .icon {
                top: -50%;
                cursor: pointer;
                position: relative;
                left: 110%;
                color: white;
            }

            .cont_menu {
                z-index: 10000000;
                position: absolute;
                padding-top: 50px;
                width: 30%;
                height: 100vh;
                top: 0%;
                left: 70%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                transform: translate(1000px);
                background-color: rgb(16, 112, 145);
                transition: all .3s ease-out;

                &.active {
                    transform: translate(0px);
                }

                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 2em;
                    color: white;
                }

                .icon {
                    position: absolute;
                    left: 1%;
                    top: 1%;
                    background-color: rgb(10, 84, 109);
                    border-radius: 3px;
                    color: white;
                    padding: 3px;
                }

                .cont_obj {
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: white;
                    gap: 5px;
                    width: 40%;
                    transition: all .2s ease-in-out;

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 800;
                    }

                    &:hover {

                        box-shadow: 0 2px rgb(255, 255, 255);
                    }

                    li {
                        list-style: none;
                        color: white;
                        text-decoration: none;
                        font-weight: 800;
                    }

                    &:hover {

                        box-shadow: 0 2px rgb(255, 255, 255);
                    }
                }
            }

            ul {
                padding-top: 30px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 10%;
                width: 40vw;

                a {
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: bolder;
                    list-style: none;

                    &:hover {
                        background-color: rgb(3, 128, 170);
                    }
                }

            }
        }

        .cont_vic {
            margin-top: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);

            h3 {
                padding: 10px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(18, 204, 195)
            }
        }
    }
    
    main {
        margin-top: 20vh;
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 5%;
        section {
            width: 40%;
            background-color: rgba(41, 72, 163, 0.582);
            height: auto;
            box-shadow: 10px 6px 23px -6px rgba(0, 0, 0, 0.7);
            -webkit-box-shadow: 10px 6px 23px -6px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 10px 6px 23px -6px rgba(0, 0, 0, 0.7);
            border-radius: 20px;
            padding-bottom: 5%;
            .form {
            
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                h3 {
                    color: white;
                    font-size: 3rem;
                    border-bottom: 4px solid white;
                }
                .cont_texto{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    h3 {
                        display: inline;
                        color: white;
                        font-size: 2.7rem;
                        border-bottom: 4px solid white;
                        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    }
                    p{
                        color: rgb(224, 224, 224);
                        font-size: 2.4rem;
                        padding-bottom: 4px;
                       
                    }
                    p{
                        font-size: 1.3em;
                        color: #fcfcfc;
                        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    }
                    a{
                        font-size: 1.3em;
                        display: block;
                        font-weight: bold;
                        color: rgb(29, 29, 228)
                    }
                }
                input {
                    text-align: center;
                    width: 60%;
                    height: 45px;
                    font-size: 1.0rem;
                    border-radius: 10px;
                    color: rgb(20, 20, 20);
                    border: 2px solid rgba(73, 73, 214, 0.788);
                    border: none;
                    box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);

                    &:focus {
                        border: 2px solid rgba(25, 25, 180, 0.788);
                        outline: none;
                    }

                }

                label {
                    color: #fcfcfc;
                    text-align: start;
                    width: 60%;
                    font-size: 1.3rem;
                }
                button{
                    width: 40%;
                    background-color: rgb(113, 113, 206);
                    color: white;
                    height:3rem;
                    border-radius: 10px;
                    border:1px solid white;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(86, 86, 201);


                    }
                }
                .cont_listas {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50%;
                    width: 100%;
                    padding: 0px 20px;
                    
                    .cont_lista {
                        
                        border: 1px solid rgba(128, 128, 128, 0.39);
                        border-right: none;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        width: 30%;
                        height: auto;
                        .titulo {
                            width: 100%;
                            height: 60px;
                            padding-left: 10px;
                            font-size: 1.3em;
                            font-weight: 500;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            color: rgb(78, 78, 78);
                            border-right: 1px solid rgba(128, 128, 128, 0.39);

                        }
                        .vacuna-name {
                            border-right: 1px solid rgba(128, 128, 128, 0.39);
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding-left: 10px;
                            height: 60px;
                            width: 100%;
                            color: rgb(68, 68, 68);
                            background-color: rgba(255, 255, 255, 0.644);
                            border-radius: 0px;
                            border: none;
                                
                        }
                        input{
                            box-shadow: none;
                            font-size: 1em;
                        }
                        .par {
                            background-color: rgba(10, 99, 129, 0.548);
                           
                        }
                    }
                }
               
            }
        }
        
    }
}
.sub_footer {
            
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(163, 163, 163, 0.562);
    height: 30vh;
    background-color: #ffffff;
    margin-top: 20%;

    .cont_img {
        height: 200px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .cont_telefonos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 80%;

        .cont_telefono {
            cursor: pointer;
            height: 80%;
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            padding: 10px;
            background-color: rgb(6, 147, 192);
            transition: all .2s ease-in-out;

            h4 {

                text-align: center;
                width: 90%;
            }

            h2 {
                text-align: center;
                font-size: 2em;
            }

            h3 {
                text-align: center;
                font-size: 1.5em;
            }

            &:hover {
                background-color: rgb(19, 129, 165);
            }
        }
    }
}