* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Excon', sans-serif;
}

body {
    background-color: rgb(206, 205, 205);

    .ocultar {
        display: none;
    }

    header {
        padding-top: 5vh;
        background-color: rgb(8, 147, 194);
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;

        img {
            top: 5px;
            left: 0px;
            position: absolute;
            height: 80px;
            cursor: pointer;
        }

        .cont_he {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50%;

            h1 {
                padding-top: 50px;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
            }

            .icon {
                top: -50%;
                cursor: pointer;
                position: relative;
                left: 110%;
                color: white;
            }

            .cont_menu {
                z-index: 10000000;
                position: absolute;
                padding-top: 50px;
                width: 30%;
                height: 100vh;
                top: 0%;
                left: 70%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                transform: translate(1000px);
                background-color: rgb(16, 112, 145);
                transition: all .3s ease-out;

                &.active {
                    transform: translate(0px);
                }

                h3 {
                    font-size: 2em;
                    color: white;
                }

                .icon {
                    position: absolute;
                    left: 1%;
                    top: 1%;
                    background-color: rgb(10, 84, 109);
                    border-radius: 3px;
                    color: white;
                    padding: 3px;
                }

                .cont_obj {
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: white;
                    gap: 5px;
                    width: 40%;
                    transition: all .2s ease-in-out;

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 800;
                    }

                    &:hover {

                        box-shadow: 0 2px rgb(255, 255, 255);
                    }
                    li{
                        list-style: none;
                        color: white;
                        text-decoration: none;
                        font-weight: 800;
                    }

                    &:hover {

                        box-shadow: 0 2px rgb(255, 255, 255);
                    }
                }
            }

            ul {
                padding-top: 30px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 10%;
                width: 40vw;

                a {
                    text-decoration: none;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: bolder;
                    list-style: none;

                    &:hover {
                        background-color: rgb(3, 128, 170);
                    }
                }

            }
        }

        .cont_vic {
            margin-top: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);

            h3 {
                padding: 10px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(18, 204, 195)
            }
        }
    }

    main {
        background-color: rgb(255, 255, 255);
        padding-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {

            height: 80%;
            width: 80%;
            border-radius: 20px;
        }

        .sec_prin {
            padding-top: 20vh;
            padding-bottom: 100px;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            height: 100%;

            &.ocultar {
                display: none;
            }

            h4 {
                font-size: 1.5em;
                color: rgb(233, 231, 231);
            }

            .texto_main {
                font-size: 2.5em;
                color: rgb(196, 0, 147);
                border-radius: 10px;
                border: 3px solid rgb(196, 0, 147);
                padding: 20px;
            }

            .text_encabezado {
                margin-top: 5%;
                border-radius: 10px;
                padding: 5px;
                font-size: 3em;
                background-color: rgb(8, 147, 194);
                color: white;
            }

            .text_p {

                width: 70%;
                font-size: 1.3em;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 300;
                color: rgb(32, 32, 32);
                line-height: 1.2;
            }

            .cont_sintomas {
                display: grid;
                width: 90%;
                grid-template-columns: 1fr 1fr 1fr;
                height: auto;
                gap: 10px;

                .cont_sintoma {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;

                    img {
                        height: auto;
                        width: auto;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 60%;
                        font-size: 1.5em;
                        font-weight: bolder;
                        color: rgb(37, 37, 37);
                    }
                }
            }
        }

        #cont_modificar_turno {
            width: 40%;
            background-color: rgba(84, 127, 255, 0.582);
            height: 65vh;
            box-shadow: 10px 6px 23px -6px rgba(0, 0, 0, 0.7);
            -webkit-box-shadow: 10px 6px 23px -6px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 10px 6px 23px -6px rgba(0, 0, 0, 0.7);
            display: none;
            border-radius: 20px;
            margin-top: 5%;

            &.active {
                display: block;
            }

            form {

                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                width: 100%;

                h3 {
                    color: white;
                    font-size: 3rem;
                    border-bottom: 4px solid white;
                }

                input {
                    text-align: center;
                    width: 60%;
                    height: 45px;
                    font-size: 1.0rem;
                    border-radius: 10px;
                    color: rgb(20, 20, 20);
                    border: 2px solid rgba(73, 73, 214, 0.788);
                    border: none;
                    box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 4px 3px 14px -2px rgba(0, 0, 0, 0.75);

                    &:focus {
                        border: 2px solid rgba(25, 25, 180, 0.788);
                        outline: none;
                    }
                }

                label {
                    color: #fcfcfc;
                    text-align: start;
                    width: 60%;
                    font-size: 1.3rem;
                }
            }
        }


        a {
            transition: transform .3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;
            background-color: rgb(6, 147, 192);
            margin-top: 10px;
            width: 260px;
            height: 70px;
            border-radius: 20px;
            border: none;
            box-shadow: 2px 1px 15px 10px rgb(136, 170, 182);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;

            &:hover {
                transform: scale(1.1);
            }
        }

        .sec_vacunas {
            padding-top: 50px;
            width: 100%;
            height: 50%;
            background-color: rgba(255, 0, 0, 0);
            display: none;

            &.active {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
            }

            h3 {
                font-size: 2em;

            }

            .cont_info {
                transition: all .2s;
                cursor: pointer;
                padding-top: 10px;
                background-color: rgba(105, 169, 201, 0.534);
                border-radius: 30px;
                margin: 10px;
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &:hover {
                    transform: scale(1.1);
                    background-color: rgba(84, 135, 161, 0.534);
                }

                .articulo {
                    color: white;
                    font-weight: 500;
                    gap: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px;
                }
            }

        }

        .sec_info {
            padding-top: 50px;
            width: 100%;
            height: 50%;
            background-color: rgba(255, 0, 0, 0);
            display: none;

            &.active {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
            }

            h3 {
                font-size: 2em;

            }

            .cont_info {
                transition: all .2s;
                cursor: pointer;
                padding-top: 10px;
                background-color: rgba(170, 170, 170, 0);
                border-radius: 30px;
                margin: 10px;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;

                .cont_lista {
                    border: 1px solid rgba(128, 128, 128, 0.39);
                    border-right: none;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 20%;

                    .titulo {
                        width: 100%;
                        height: 60px;
                        padding-left: 10px;
                        font-size: 1.3em;
                        font-weight: 500;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: rgb(78, 78, 78);
                        border-right: 1px solid rgba(128, 128, 128, 0.39);

                    }

                    .vacuna-name {
                        border-right: 1px solid rgba(128, 128, 128, 0.39);
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding-left: 10px;
                        height: 60px;
                        width: 100%;
                        color: rgb(68, 68, 68);
                        background-color: rgba(10, 99, 129, 0.548);
                    }

                    .rojo {
                        font-weight: 600;
                        color: rgb(252, 42, 42);
                    }

                    .amarillo {
                        font-weight: 500;
                        color: rgb(255, 255, 38)
                    }

                    .verde {
                        font-weight: 600;
                        color: rgb(85, 231, 56)
                    }

                    .par {
                        background-color: rgba(255, 255, 255, 0.644);
                    }
                }
            }

        }

        .sec_img {
            border-radius: 20px;
            margin-top: 100px;
            width: 60%;
            height: 30%;
            display: none;

            &.active {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            transition: all .2s;
            cursor: pointer;
            background-color: rgba(38, 63, 172, 0.356);

            h3 {
                font-size: 2em;
                color: white;
            }

            img {
                height: 80%;
                width: 80%;
            }
        }

        .sec_horarios {
            padding-top: 50px;
            width: 100%;
            height: 50%;
            display: none;

            &.active {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
            }


            h3 {
                font-size: 2em;

            }

            .cont_info {
                padding-top: 10px;
                border-radius: 30px;
                margin: 10px;
                width: 60%;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .articulo {
                    transition: all .2s;
                    cursor: pointer;
                    border-radius: 20px;
                    background-color: rgba(126, 105, 201, 0.644);
                    color: white;
                    font-weight: 500;
                    gap: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px;
                    margin: 5px;
                    width: 80%;

                    &:hover {
                        background-color: rgba(99, 82, 160, 0.644);
                        transform: scale(1.1);
                    }

                }

                .par {
                    background-color: rgba(18, 7, 56, 0.644);
                }
            }
        }



        .sub_footer {

            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            width: 100%;
            border-top: 1px solid rgba(163, 163, 163, 0.562);
            height: 30vh;
            background-color: #ffffff;
            margin-top: 20%;

            .cont_img {
                height: 200px;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .cont_telefonos {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 80%;

                .cont_telefono {
                    cursor: pointer;
                    height: 80%;
                    width: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: white;
                    padding: 10px;
                    background-color: rgb(6, 147, 192);
                    transition: all .2s ease-in-out;

                    h4 {

                        text-align: center;
                        width: 90%;
                    }

                    h2 {
                        text-align: center;
                        font-size: 2em;
                    }

                    h3 {
                        text-align: center;
                        font-size: 1.5em;
                    }

                    &:hover {
                        background-color: rgb(19, 129, 165);
                    }
                }
            }
        }

        //llave main
    }




}

footer {
    z-index: 100;
    position: fixed;
    height: 4%;
    width: 95%;
    top: 97%;
    display: flex;
    justify-content: center;
    align-items: center;

    .back {
        border-radius: 10px;
        margin-left: 5%;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgb(103, 3, 161), rgb(175, 192, 25), rgb(9, 88, 15), rgb(36, 168, 36), rgb(38, 102, 175));
    }
}